* {
    font-family: Arial;
}

/* CORES */
.bg-claro {
    background-color: #FCF9F2;
}
.bg-escuro {
    background-color: #F7F2DF;
}
.bg-vermelho {
    background-color: #D0342F;
}
.text-primary {
    color: #56776F;
}
.text-black {
    color: #000000;
}
.text-white {
    color: #ffffff;
}

/* TEXTO */
.link {
    text-decoration: none;

    transition: 500ms;
}
.link:hover {
    text-decoration: underline;
}

/* CABEÇALHO */
.cabecalho {
    padding: 2px;

    display: flex;
    justify-content: space-between;
}
.cabecalho #logo {
    margin: 10px;
}
.cabecalho #links {
    margin-inline: 3px;
}

/* SESSÕES */
#apresentacao {
    padding: 3px;

    display: inline;
}
#apresentacao #text {
    text-align: left;
}
#apresentacao #img {
    margin: 2px;
    border-radius: 100%;
}