body {
    font-family: "DM Serif Display", serif;
    margin: 0px;
    background-color: #FCF9F2;
}

.titulo{
    color: red;
    font-family: "DM Serif Display", serif;
    text-wrap: balance;
}

/* CORES */
.bg-claro {
    background-color: #FCF9F2;
}
.bg-escuro {
    background-color: #F7F2DF;
}
.bg-vermelho {
    background-color: #D0342F;
}
.text-primary {
    color: #56776F;
    font-size: 48px;
}
.text-black {
    color: #000000;
}
.text-white {
    color: #ffffff;
}

/* TEXTO */
.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.text-bold {
    font-weight: bolder;
}
.text-underline {
    text-decoration: underline;
}

/* CABEÇALHO */
.cabecalho {
    padding: 2px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho #links {
    margin-inline: 80px;

    width: fit-content;
}
.cabecalho #links a {
    margin-inline-start: 10px;
    font-size: medium;
}
.logo {
    margin: 10px;
    margin-inline: 35px;

    width: 200px;
    height: auto;
}

/* SESSÕES */
#apresentacao {
    padding: 3px;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#apresentacao #texto {
    width: 30em;
    margin: 100px;
    font-size: 30px;
    text-align: left;
}
#apresentacao p{
    padding: 5px 0px 5px 0px;
    max-width: 30rem;
    font-size: 20px;
}
#apresentacao #img {
    margin: 10px;
    margin-inline: 35px;
    padding-right: 5rem;
}
#apresentacao #img img {
    width: 70vh;
    border-radius: 100%;
}
#apresentacao button {
    background-color: #D0342F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 1rem 5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
#apresentacao button:hover {
    background-color: #b92f2a;
}
#apresentacao #texto h2{
    max-width: 30rem;
    margin: 0 0 0 0;
}

/*galeria*/

#galeria {
    padding-top: 0px;
    height: 40rem;
    margin-bottom: 0;
}

.card {
    padding-inline: 3px;
}
.card #img {
    border-radius: 5%;
}
.card #caption {
    font-size: smaller;
}

#galeria div{

}




/*info*/
#info{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}
#nos{
    font-size: 24px;
}

#text{
    font-size: 24px;
}
#divinfo{
    width: 25%;
    
}
#leiamais{
    color: #000000;
}

#ambiente img{
    height: 500px;
    width: 400px;
    padding-left: 430px; 
   
}

 #titulop{
    color:#56776F ;
    font-size: 48px;
    margin: 0px;
}











#parceiros{
    height: 50vh;
}
#parceiros img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: auto;
    padding-left: 25vh;
}
#parceiros #imagensb{
    padding-top: 3rem;
}
#parceiros #texto{
    color: black;
    font-size: 38px;
    padding-left: 5rem;
    padding-top: 2rem;

}


/* rodape */

#rodape{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    gap: 330px;
}

#logo-r img{
    padding-top:50px ;
    height: 107px;
}

#contato{
    padding-top:50px ;
}
#contatos{
    display: flex;
    gap: 20px;
}

#contatos img{
    padding-top: 15px;
    height: 37px;
    width: 37px;
}

#infos{
    padding-top: 50px;
    padding-right: 40px;
}

/* chefe */

#mais {
    display: flex;
    height: 100vh;
}
#mais img{
    width: 797px;
}
#mais #titulo{
    padding-left: 10vh;
    padding-top: 30vh;
    color: black;
    font-size: 30px;
    max-width: 80vh;
}
#saibamais{
   padding-left: 10vh;
   text-decoration: underline;
}