* {
    font-family: Arial;
}
body {
    margin: 0px;
}

/* CORES */
.bg-claro {
    background-color: #FCF9F2;
}
.bg-escuro {
    background-color: #F7F2DF;
}
.bg-vermelho {
    background-color: #D0342F;
}
.text-primary {
    color: #56776F;
    font-size: 48px;
}
.text-black {
    color: #000000;
}
.text-white {
    color: #ffffff;
}

/* TEXTO */
.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}
.text-bold {
    font-weight: bolder;
}
.text-underline {
    text-decoration: underline;
}

/* CABEÇALHO */
.cabecalho {
    padding: 2px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho #links {
    margin-inline: 80px;

    width: fit-content;
}
.cabecalho #links a {
    margin-inline-start: 10px;

    font-size: medium;
}
.logo {
    margin: 10px;
    margin-inline: 35px;

    width: 200px;
    height: auto;
}

/* SESSÕES */
#apresentacao {
    padding: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#apresentacao #texto {
    width: 30em;
    margin: 100px;

    text-align: left;
}
#apresentacao #img {
    width: 30em;
    margin: 10px;
    margin-inline: 35px;
}
#apresentacao #img img {
    width: 400px;

     border-radius: 100%;
}
#galeria {
    padding: 3px;
}
.card {
    padding-inline: 3px;
}
.card #img {
    border-radius: 5%;
}
.card #caption {
    font-size: smaller;
}

/*informações*/
#texto_esquerdo{
    text-align: left;
    
}
#ambiente{
    float: right;
    justify-content:flex-end;
    height: 33em;
    width:45em;
    margin: 10px;
     margin-inline: 35px;
}
#titulop{
    color:#56776F ;
    font-size: 48px;
}